#main {
	width:100%;
	height:900px;
	border: 3px red solid;
}

#main h2 {
	margin-left: auto;
	margin-right: auto;
	max-width: 100px;
}


#container {
	width: 400px;
	height: 300px;
	border: 3px blue solid;
	margin-left: auto;
	margin-right: auto;
}

#container div {
	margin-top: 20px;
}

#container label {
	margin-left: 30px;
	width: 100px;
	display:inline-block;
	font-weight: bold;
}

#fbutton {
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}